@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
* {
  position: relative;
}
 
#triangulo {
  width: 210px;
  display: flex;
  align-self: center;
  margin: auto;
}
body {
  background-color: #c0fdfb;
  font-family: 'Sarala';
}
input::placeholder {
  text-align: center;
  font-weight: normal;
  color: #898989;
  
}
input{
  border-style: none;
  border-radius: 15px;
  height: 30px;
  width: 60px;
}
#aInput{
  display: flex;
  align-self: center;
  margin: auto;
  text-align: center;
}
#oInput{
  left: -150px;
  bottom: 100px;
  display: flex;
  align-self: center;
  margin: auto;
  text-align: center;
}
#hInput{
  left: 80px;
  bottom: 160px;
  display: flex;
  align-self: center;
  margin: auto;
  text-align: center;
}

#buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
#buttons button{
  border-style: none;
  border-radius: 15px;
  width: 90px;
  height: 25px;
  display: flex;
  align-self: center;
  vertical-align: center;
  background-color: #b09e99;
  color:#f8f7f2;
  display: table-cell;
}

#buttonLimpar {
margin-left: 15px;
}
#resultado{
  width: 40px;
  background-color: #faedcd;
  text-align: center;
  position: relative;
  font-weight: bold;
  font-family: sans-serif;
  left: 340px;
  bottom: 100px;
}
#cabeçalho{
  color: #b09e99;
  text-align: center;
}
